{% load static %}
{% load humanize %}
<!--consoles product start-->
<div class="consoles_product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="consoles_header">
                    <div class="consoles_product_title">
                        <h3>Ear Buds & Mouse</h3>
                    </div>
                    <div class="product_tab_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-bs-toggle="tab" href="#Gamepads" role="tab" aria-controls="Gamepads" aria-selected="true"> Ear Buds</a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#Control" role="tab" aria-controls="Control" aria-selected="false"> Mouse</a>
                            </li>
                            <!-- <li>
                                <a data-bs-toggle="tab" href="#Game" role="tab" aria-controls="Game" aria-selected="false">  Headphones</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="single_banner">
                    <div class="banner_thumb">
                        <a href="#"><img src="{% static 'frontend/assets/img/banner/bgbanner2.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="Gamepads" role="tabpanel">
                       <div class="row">
                            <div class="consoles_product_active owl-carousel">
                                {% for earphone_product in earphone_products %}
                                <div class="col-lg-3">
                                    <div class="single_product"> 
                                        <div class="product_thumb">
                                            <a href="product-details.html"><img src="{{earphone_product.image.url}}" alt=""></a>
                                            <div class="btn_quickview">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="Quick View"><i class="ion-ios-eye"></i></a>
                                            </div>
                                        </div> 
                                        <div class="product_content">   
                                            <div class="product_ratting">
                                                <ul>
                                                    {% for i in "12345" %}
                                                        {% if forloop.counter <= earphone_product.rating %}
                                                        <li><a href="#"><i class="ion-star"></i></a></li>
                                                        {% else %}
                                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <h3><a href="product-details.html">{{earphone_product.name|truncatechars:80}}</a></h3>
                                            <div class="product_price">
                                                <span class="current_price">&#8358;{{earphone_product.price|intcomma}}</span>
                                            </div>
                                            <div class="product_action">
                                                <ul>
                                                    <li class="product_cart"><a href="cart.html" title="Add to Cart">Add to Cart</a></li>
                                                    <!-- <li class="add_links"><a href="wishlist.html" title="Add to Wishlist"><i class="ion-ios-heart-outline"></i></a></li>
                                                    <li class="add_links"><a href="compare.html" title="Add to Compare"><i class="ion-loop"></i></a></li> -->
                                                </ul>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                {% endfor %}
                            </div>      

                       </div>  
                    </div>
                    <div class="tab-pane fade" id="Control" role="tabpanel">
                       <div class="row">
                            <div class="consoles_product_active owl-carousel">
                                {% for mouse_product in mouse_products %}
                                <div class="col-lg-3">
                                    <div class="single_product"> 
                                        <div class="product_thumb">
                                            <a href="product-details.html"><img src="{{mouse_product.image.url}}" alt=""></a>
                                            <div class="btn_quickview">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="Quick View"><i class="ion-ios-eye"></i></a>
                                            </div>
                                        </div> 
                                        <div class="product_content">   
                                            <div class="product_ratting">
                                                <ul>
                                                    {% for i in "12345" %}
                                                        {% if forloop.counter <= mouse_product.rating %}
                                                        <li><a href="#"><i class="ion-star"></i></a></li>
                                                        {% else %}
                                                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <h3><a href="product-details.html">{{mouse_product.name|truncatechars:80}}</a></h3>
                                            <div class="product_price">
                                                <span class="current_price">&#8358;{{mouse_product.price|intcomma}}</span>
                                            </div>
                                            <div class="product_action">
                                                <ul>
                                                    <li class="product_cart"><a href="cart.html" title="Add to Cart">Add to Cart</a></li>
                                                    <!-- <li class="add_links"><a href="wishlist.html" title="Add to Wishlist"><i class="ion-ios-heart-outline"></i></a></li>
                                                    <li class="add_links"><a href="compare.html" title="Add to Compare"><i class="ion-loop"></i></a></li> -->
                                                </ul>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                       </div> 
                   </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--consoles product end-->