{% load static %}
{% load humanize %}
{% load product_tags %}

<!--custom product start-->
<div class="custom_product">
    <div class="container">
        <div class="row">

            <!-- Recent Products -->
            <div class="col-lg-4 col-md-6">
                <div class="custom_product_wrapper">
                    <div class="custom_product_title">
                        <h3>Recent Products</h3>
                    </div>
                    <div class="custom_product_active owl-carousel">
                        {% for group in new_products|chunks:4 %}
                            <div class="custom_product_list item">
                                {% for product in group %}
                                    {% include './single_custom_product.html' with product=product %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- On Sale Products -->
            <div class="col-lg-4 col-md-6">
                <div class="custom_product_wrapper">
                    <div class="custom_product_title">
                        <h3>Other Products</h3>
                    </div>
                    <div class="custom_product_active owl-carousel">
                        {% for group in all_products|chunks:4 %}
                            <div class="custom_product_list">
                                {% for product in group %}
                                    {% include './single_custom_product.html' with product=product %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Featured Products -->
            <div class="col-lg-4 col-md-6">
                <div class="custom_product_wrapper">
                    <div class="custom_product_title">
                        <h3>Featured Products</h3>
                    </div>
                    <div class="custom_product_active owl-carousel">
                        {% for group in featured_products|chunks:4 %}
                            <div class="custom_product_list">
                                {% for product in group %}
                                    {% include './single_custom_product.html' with product=product %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--custom product end-->
