<div class="custom_product_active owl-carousel owl-loaded owl-drag">
                        
                            
                        
    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-660px, 0px, 0px); transition: all; width: 1650px;"><div class="owl-item cloned" style="width: 330px;"><div class="custom_product_list">
                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244725/ov6f0qzajs8ob0vzjmlk.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Infinix XE23 ENC Wireless Earbuds Powerful Sound Earphone White</a></h3>
<div class="product_price">
<span class="current_price">₦8,500.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244761/zjsztebfgtxessxmqbk4.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">XIAOMI Redmi Buds 6 Active - Black</a></h3>
<div class="product_price">
<span class="current_price">₦18,900.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750245946/eymkmluvm7h3d1ybtjoe.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Rechargable Wireless Mobile Cooler with Built-in Battery With Finger Sleeve</a></h3>
<div class="product_price">
<span class="current_price">₦7,988.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750246209/qrgubhyty5bwf2m9qxef.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Oraimo Type-C And Micro-USB Port Power-Bank 20000mAh Fast Charging</a></h3>
<div class="product_price">
<span class="current_price">₦23,190.00</span>
</div>
</div>
</div>

                
            </div></div><div class="owl-item cloned" style="width: 330px;"><div class="custom_product_list">
                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244725/ov6f0qzajs8ob0vzjmlk.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Infinix XE23 ENC Wireless Earbuds Powerful Sound Earphone White</a></h3>
<div class="product_price">
<span class="current_price">₦8,500.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244761/zjsztebfgtxessxmqbk4.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">XIAOMI Redmi Buds 6 Active - Black</a></h3>
<div class="product_price">
<span class="current_price">₦18,900.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750245946/eymkmluvm7h3d1ybtjoe.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Rechargable Wireless Mobile Cooler with Built-in Battery With Finger Sleeve</a></h3>
<div class="product_price">
<span class="current_price">₦7,988.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750246209/qrgubhyty5bwf2m9qxef.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Oraimo Type-C And Micro-USB Port Power-Bank 20000mAh Fast Charging</a></h3>
<div class="product_price">
<span class="current_price">₦23,190.00</span>
</div>
</div>
</div>

                
            </div></div><div class="owl-item active" style="width: 330px;"><div class="custom_product_list">
                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244725/ov6f0qzajs8ob0vzjmlk.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Infinix XE23 ENC Wireless Earbuds Powerful Sound Earphone White</a></h3>
<div class="product_price">
<span class="current_price">₦8,500.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244761/zjsztebfgtxessxmqbk4.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">XIAOMI Redmi Buds 6 Active - Black</a></h3>
<div class="product_price">
<span class="current_price">₦18,900.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750245946/eymkmluvm7h3d1ybtjoe.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Rechargable Wireless Mobile Cooler with Built-in Battery With Finger Sleeve</a></h3>
<div class="product_price">
<span class="current_price">₦7,988.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750246209/qrgubhyty5bwf2m9qxef.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Oraimo Type-C And Micro-USB Port Power-Bank 20000mAh Fast Charging</a></h3>
<div class="product_price">
<span class="current_price">₦23,190.00</span>
</div>
</div>
</div>

                
            </div></div><div class="owl-item cloned" style="width: 330px;"><div class="custom_product_list">
                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244725/ov6f0qzajs8ob0vzjmlk.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Infinix XE23 ENC Wireless Earbuds Powerful Sound Earphone White</a></h3>
<div class="product_price">
<span class="current_price">₦8,500.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244761/zjsztebfgtxessxmqbk4.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">XIAOMI Redmi Buds 6 Active - Black</a></h3>
<div class="product_price">
<span class="current_price">₦18,900.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750245946/eymkmluvm7h3d1ybtjoe.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Rechargable Wireless Mobile Cooler with Built-in Battery With Finger Sleeve</a></h3>
<div class="product_price">
<span class="current_price">₦7,988.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750246209/qrgubhyty5bwf2m9qxef.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Oraimo Type-C And Micro-USB Port Power-Bank 20000mAh Fast Charging</a></h3>
<div class="product_price">
<span class="current_price">₦23,190.00</span>
</div>
</div>
</div>

                
            </div></div><div class="owl-item cloned" style="width: 330px;"><div class="custom_product_list">
                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244725/ov6f0qzajs8ob0vzjmlk.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Infinix XE23 ENC Wireless Earbuds Powerful Sound Earphone White</a></h3>
<div class="product_price">
<span class="current_price">₦8,500.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750244761/zjsztebfgtxessxmqbk4.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">XIAOMI Redmi Buds 6 Active - Black</a></h3>
<div class="product_price">
<span class="current_price">₦18,900.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750245946/eymkmluvm7h3d1ybtjoe.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

    
        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Rechargable Wireless Mobile Cooler with Built-in Battery With Finger Sleeve</a></h3>
<div class="product_price">
<span class="current_price">₦7,988.00</span>
</div>
</div>
</div>

                
                    
<div class="single_product">
<div class="product_thumb">
<a href="product-details.html"><img src="http://res.cloudinary.com/dg48cvk39/image/upload/v1750246209/qrgubhyty5bwf2m9qxef.jpg" alt=""></a>
</div>
<div class="product_content">
<div class="product_ratting">
<ul>

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

    
        <li><a href="#"><i class="ion-star"></i></a></li>
    

</ul>
</div>
<h3><a href="product-details.html">Oraimo Type-C And Micro-USB Port Power-Bank 20000mAh Fast Charging</a></h3>
<div class="product_price">
<span class="current_price">₦23,190.00</span>
</div>
</div>
</div>

                
            </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div></div>