{% load static %}
{% load humanize %}
<!--product area start-->
<div class="produtc_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_tab_button">
                    <ul class="nav" role="tablist">
                        <li>
                            <a class="active" data-bs-toggle="tab" href="#Products" role="tab" aria-controls="Products" aria-selected="true"> New Products</a>
                        </li>
                        <li>
                            <a data-bs-toggle="tab" href="#OnSale" role="tab" aria-controls="OnSale" aria-selected="false"> OnSale</a>
                        </li>
                        <li>
                            <a data-bs-toggle="tab" href="#Feature" role="tab" aria-controls="Feature" aria-selected="false">  Feature Products</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <!-- new products -->
            <div class="tab-pane fade show active" id="Products" role="tabpanel">
               <div class="row">
                    <div class="product_active owl-carousel">
                        {% for new_product in new_products %}
                        <div class="col-lg-3">
                            <div class="single_product"> 
                                <div class="product_thumb">
                                     <a href="product-details.html"><img src="{{new_product.image.url}}" alt=""></a>
                                     <div class="btn_quickview">
                                         <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="Quick View"><i class="ion-ios-eye"></i></a>
                                    </div>
                                </div> 
                                <div class="product_content">   
                                    <div class="product_ratting">
                                        <ul>
                                            {% for i in "12345" %}
                                                {% if forloop.counter <= new_product.rating %}
                                                <li><a href="#"><i class="ion-star"></i></a></li>
                                                {% else %}
                                                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <h3><a href="product-details.html">{{new_product.name|truncatechars:80}}</a></h3>
                                    <div class="product_price">
                                        <span class="current_price">&#8358;{{new_product.price|intcomma}}</span>
                                    </div>
                                    <div class="product_action">
                                        <ul>
                                            <li class="product_cart"><a href="cart.html" title="Add to Cart">Add to Cart</a></li>
                                            <!-- <li class="add_links"><a href="wishlist.html" title="Add to Wishlist"><i class="ion-ios-heart-outline"></i></a></li>
                                            <li class="add_links"><a href="compare.html" title="Add to Compare"><i class="ion-loop"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        {% endfor %}
                    </div>      
                        
               </div>  
            </div>
            <!-- onsale -->
            <div class="tab-pane fade" id="OnSale" role="tabpanel">
               <div class="row">
                    <div class="product_active owl-carousel">
                        {% for onsale_product in onsale_products %}
                        <div class="col-lg-3">
                            <div class="single_product"> 
                                <div class="product_thumb">
                                     <a href="product-details.html"><img src="{{onsale_product.image.url}}" alt=""></a>
                                     <div class="btn_quickview">
                                         <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="Quick View"><i class="ion-ios-eye"></i></a>
                                    </div>
                                </div> 
                                <div class="product_content">   
                                    <div class="product_ratting">
                                        <ul>
                                            {% for i in "12345" %}
                                                {% if forloop.counter <= onsale_product.rating %}
                                                <li><a href="#"><i class="ion-star"></i></a></li>
                                                {% else %}
                                                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <h3><a href="product-details.html">{{onsale_product.name|truncatechars:80}}</a></h3>
                                    <div class="product_price">
                                        <span class="current_price">&#8358;{{onsale_product.price|intcomma}}</span>
                                    </div>
                                    <div class="product_action">
                                        <ul>
                                            <li class="product_cart"><a href="cart.html" title="Add to Cart">Add to Cart</a></li>
                                            <!-- <li class="add_links"><a href="wishlist.html" title="Add to Wishlist"><i class="ion-ios-heart-outline"></i></a></li>
                                            <li class="add_links"><a href="compare.html" title="Add to Compare"><i class="ion-loop"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        {% endfor %}
                    </div>
               </div> 
           </div>

           <!-- featured -->
           <div class="tab-pane fade" id="Feature" role="tabpanel">
               <div class="row">
                    <div class="product_active owl-carousel">
                        {% for featured_product in featured_products %}
                        <div class="col-lg-3">
                            <div class="single_product"> 
                                <div class="product_thumb">
                                     <a href="product-details.html"><img src="{{featured_product.image.url}}" alt=""></a>
                                     <div class="btn_quickview">
                                         <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="Quick View"><i class="ion-ios-eye"></i></a>
                                    </div>
                                </div> 
                                <div class="product_content">   
                                    <div class="product_ratting">
                                        <ul>
                                            {% for i in "12345" %}
                                                {% if forloop.counter <= featured_product.rating %}
                                                <li><a href="#"><i class="ion-star"></i></a></li>
                                                {% else %}
                                                <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <h3><a href="product-details.html">{{featured_product.name|truncatechars:80}}</a></h3>
                                    <div class="product_price">
                                        <span class="current_price">&#8358;{{featured_product.price|intcomma}}</span>
                                    </div>
                                    <div class="product_action">
                                        <ul>
                                            <li class="product_cart"><a href="cart.html" title="Add to Cart">Add to Cart</a></li>
                                            <!-- <li class="add_links"><a href="wishlist.html" title="Add to Wishlist"><i class="ion-ios-heart-outline"></i></a></li>
                                            <li class="add_links"><a href="compare.html" title="Add to Compare"><i class="ion-loop"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        {% endfor %}
                    </div>
               </div> 
           </div>   
        </div>
    </div>
</div>
<!--product area end-->